@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #d9cee0;
  --foreground: #171717;

  --primary: #734c8b;
  --secondary: #ac8ac6;

  --gray1: #7a7a7a;
}

.dark {
  --background: #251f29;
  --foreground: #ededed;

  --primary: #ba94d1;
  --secondary: #6e587c;

  --gray1: #9c9c9c;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
